@page
@model OnlineCoursePlatform.Web.Pages.Admin.Users.DeletedUserListModel
@{
    ViewData["Title"] = "کاربران حذف شده";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">لیست کاربران</h1>
    </div>
</div>

<div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
    <div class="row">
        <form>
          <div class="col-sm-5 col-md-5">
            <input type="text" name="filterUserName" class="form-control" placeholder="نام کاربری"/>
          </div>

          <div class="col-sm-5 col-md-5">
            <input type="text" name="filterEmail" class="form-control" placeholder="ایمیل"/>
          </div>

          <div class="col-sm-2 col-md-2">
            <button type="submit" class="btn btn-primary">بگرد</button>
            <a asp-page="/Admin/Users/Index" class="btn btn-default">خالی کن</a>
          </div>
        </form>
    </div>
    <br />
    <div>
        <a asp-page="CreateUser" class="btn btn-outline btn-success">افزودن کاربر جدید</a>
    </div>
    <br />
    <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
    <thead>
        <tr>
            <th>نام کاربری</th>
            <th>ایمیل</th>
            <th>وضعیت</th>
            <th>تاریخ ثبت نام</th>
        </tr>                             
    </thead>
    <tbody>
            @foreach (var item in Model.UsersForAdminViewModel.Users)
            {
                    <tr>
                        <th>@item.UserName</th>
                        <th>@item.Email</th>
                        <th>
                        @if (item.IsActive)
                        {
                                    <p class="text-success">فعال</p>
                        }
                        else
                        {
                                    <p class="text-danger">غیر فعال</p>
                        }
                        </th>
                        <th>@item.RegisterDate.ToShamsi()</th>
                    </tr>
            }
        </tbody>
    </table>
        <div class="row">
            <div class="col-sm-6">
                <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                    <ul class="pagination">
                    @for (int i = 1; i <= Model.UsersForAdminViewModel.PageCount; i++)
                    {
                            <li class="paginate_button @((i==Model.UsersForAdminViewModel.CurrentPage) ? "active" : "")" aria-controls="dataTables-example" tabindex="0">
                                <a href="/Admin/Users?pageId=@i">@i</a>
                            </li>                        
                    }
                    </ul>
                </div>
            </div>
        </div>
   </div>